:root {
    --primary-color: #2F9DFE;
    --secondary-color: #2389F0;
    --secondary-darker-color: #124f8c;

    /* --background-color: #a3c3e3; */
    --background-color: #91b5d8;
    --accent-color: #F8F804;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* section#quick-access {
    background: var(--secondary-darker-color);
} */

section#quick-access div.container div.cards {
    height: 200px;
}

.doctor-icon,
.appointment-icon,
.medical-icon,
.emergency-call {
    font-size: 2.5rem;
}

.row .col-md-3 a .card .card-body  {
    flex-direction: column;
}

.row .col-md-3 a .card .card-body > *  {
    font-weight: 800;
    color: #f2f2f2;
}

.row .col-md-3:nth-child(1) a .card  {
    background-color: rgb(128, 0, 148);
}

.row .col-md-3:nth-child(2) a .card  {
    background-color: rgb(12, 136, 236);
}

.row .col-md-3:nth-child(3) a .card  {
    background-color: rgb(3, 198, 94);
}

.row .col-md-3:nth-child(4) a .card  {
    background-color: rgb(246, 37, 22);
}


section#our-speciality .carousel-item {
    min-height: 325px;
}

section#our-speciality .carousel-item .row {
    min-height: 325px;
}

/* section#our-speciality .carousel .carusel-inner .carousel-item img {
    height: 100px;
} */

/* section#our-speciality .carousel-control-prev-icon {
    color: var(--secondary-darker-color)
} */

.carousel {
    /* Mengubah warna panah navigasi */
    --bs-carousel-control-color: var(--secondary-darker-color); 
    
    /* Mengubah warna indikator (garis bawah) saat tidak aktif */
    --bs-carousel-indicator-opacity: 0.5;
    
    /* Mengubah warna indikator saat aktif */
    --bs-carousel-indicator-active-bg: var(--secondary-darker-color);
}

span.carousel-control-prev-icon,
span.carousel-control-next-icon {
    filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(202deg) brightness(118%) contrast(119%);
}

.section-title {
    color: var(--secondary-darker-color)
}

.btn-learn {
    color: var(--secondary-color);
    text-transform: uppercase;
}