@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* --primary-color: #2F9DFE; */
    /* --secondary-color: #2389F0; */
    --primary-color: #008fd7;
    --secondary-color: #026199;
    --secondary-darker-color: #124f8c;
    --accent-color: #fff000;
    --primary-lighter-color: #b7e4e5;

    /* --background-color: #a3c3e3; */
    --background-color: #91b5d8;
    /* --accent-color: #F8F804; */

    --inactive-bg-color: #d2d2d2;
    --inactive-fg-color: #aaaaaa;

    --shadow-sticky: 0 6px 24px rgba(15, 23, 42, 0.10);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

section#hero {
    padding-top: 4rem;
    padding-bottom: 4rem;
    background: #ccc;
}

/* section#hero > div {
    background-color: salmon;
    margin-top: 2rem;
} */

section#hero div div.hero-img .tags-icon {
    color: #ccc;
    font-size: 2rem;
    background: var(--secondary-darker-color);
    border-radius: 0.5rem;
    padding: 1rem;
}